@import "../node_modules/ng-admin/build/ng-admin.min.css";

.poster_mini_thumbnail {
    max-width:25px;
    max-height:25px;
}

.navbar-right > li > a {
    padding-top: 15px;
}

table.items > tbody > tr > td {
    vertical-align: middle;
}

.grid .ng-admin-type-amount, .grid .ng-admin-column-total_spent {
    text-align: right;
    padding-right: 1em;
}

// Basket
.form-control.delivery_fees {
    padding-right: 0;
}

.transparent {
    color: transparent;
}
